**/.vs/
**/.vscode
**/out/
**/Debug/
CMakePresets.json
**/x64/
**/x86/
**/x32/
**/obj/
**/bin/
*.sln
*.vcxproj*
*.user
*.filters
*.TMP
*.obj
*.exe
*.elf
*.layout
*.cbp
*.depend
**/.bin/
**/.obj/
**/.dep/
*Makefile
*.mk
*.sh
*.d
**/cmake-*
**/.idea
